@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


#textblock {
  background-color: #210002;
  height: 50vh;
  z-index: 9;
  position: absolute;

}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
  z-index: 11;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;


}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}


.ani, .ani_layer {
  height: 1500px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
  
}

.ani_layer{
  background-position: top center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.ani_layer.parallax{
  position: fixed;
}


.bgv{
  background: rgb(33,0,2);
background: linear-gradient(0deg, rgba(33,0,2,1) 19%, rgba(106,10,16,1) 32%, rgba(106,10,16,1) 74%, rgba(33,0,2,1) 86%);
  position: absolute;
  width: 100vw;
  height: 100vh;
}




#bgart {
  background-image: url(../images/background.png);
}

#moun {
  background-image: url(../images/mountains.png);
}

#logo {
  background-image: url(../images/logo_land.png);
}

#jun1 {
  background-image: url(../images/jungle1.png);
}

#jun2 {
  background-image: url(../images/jungle2.png);
}

#jun3 {
  background-image: url(../images/jungle3.png);
}

#jun4 {
  background-image: url(../images/jungle4.png);
}

#man {
  background-image: url(../images/man_on_mountain.png);
}


#jun5 {
  background-image: url(../images/jungle5.png);
}
